/* body */
body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    color: #707070;
}

/* * */
*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* h1, h2, h3, h4, h5, h6 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* p */
p {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    margin-top: 37px;
}

.header.fixed {
    padding: 10px 0;

    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #eb8b8d;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-item {
    font-size: 26px;
    font-weight: 700;
    color: #707070;
}

/* Nav */
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

nav__link:first-child {
    margin-left: 0;
}

.nav__link {
    margin-left: 60px;
    position: relative;

    text-decoration: none;
    color: #707070;
    font-size: 26px;
    font-weight: 400;
}

.nav__link:after {
    content: "";
    width: 0;
    height: 3px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #707070;
    margin-top: 40px;

    position: absolute;

    transition: width .2s linear;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}


.nav__link:hover:after {
    width: 100%;
}

.nav__btn {
    margin-left: 140px;
    text-decoration: none;
    color: #707070;
    font-size: 26px;
    font-weight: 400;
    border: 1px solid #707070;
    border-radius: 56px;
    padding: 15px 45px;

    transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;
}

.nav__btn:hover {
    background-color: #707070;
    color: #fff;
    box-shadow: 0 0 25px rgba(112, 112, 112, 1);
}

/* Intro */
.intro__inner {
    margin-top: 150px;

    padding-top: 150px;
    display: flex;
    position: relative;
}

.intro__content {
    text-align: left;
}

.intro__title {
    font-size: 56px;
    position: relative;
    margin-bottom: 100px;
}

.intro__title:after {
    margin-top: 200px;
    position: absolute;

    content: "";
    display: block;
    width: 634px;
    height: 3px;
    background-color: #707070;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro__photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
    margin-right: -30px;
}

.intro__photo-item {
    width: 566px;
}

/* Section */
.section {
    margin-top: 424px;
    text-align: center;

    background-color: #707070;
    width: 100%;
    height: 549px;

    padding-top: 30px;
    padding-bottom: 30px;
}

.section__title {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
}

.section__title:after {
    content: "";
    display: block;
    width: 274px;
    height: 3px;
    margin: 14px auto 60px;

    background-color: #fff;
}

.section__text {
    font-size: 54px;
    font-weight: 400;
    color: #fff;
}

/* Mian */
.main {
    margin-top: 30px;
    text-align: center;
}

.main__inner {
    text-decoration: none;
}

.main__title {
    font-size: 54px;
    font-weight: 700;
    color: #707070;
}

.main__title:after {
    content: "";
    display: block;
    width: 274px;
    height: 3px;
    margin: 14px auto 60px;

    background-color: #707070;
}

.main__link {
    text-decoration: none;

    transition: transform .2s linear;
}

.main__link:hover {
    transform: translate3d(-10px, -10px, 0)
}

/* Footer */
.footer {
    margin-top: 30px;

    background-color: #707070;
    width: 100%;
    height: 130px;
    text-align: center;
    padding-top: 30px;
}

.footer__item {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
}
